.card{
    background-color: black;
    position: relative;
    height: 200px;
}
.button{
    background-color: white;
    font-size: 20px;
    height: 50px;
    width: 150px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top:80px;
    font-family: 'DynaPuff', system-ui;
}
h2{
    font-size: 40px;
    color: aliceblue;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
p{
    color: aliceblue;
    margin-left: 20px;
    text-align: center;
    font-family: 'DynaPuff', system-ui;
}
.image{
    position: absolute;
    top:30px;
    left: 30px;
    height: 150px;
    width: 150px;
    background-image: url('/logo.jfif');
    border-radius: 100%;
}